extends layout

block content
  .about_wrapper
    span.title 
      a(href='/') This Website
    .about_text
      .about_subtitle The Who
      .about_description <a href='/clayton'>Me</a>, of course. <hr>
      
      .about_subtitle The What
      .about_description.
        This is my personal website. I created it to host a technical blog for myself and showcase some of my projects. <hr> 
      
      .about_subtitle The When
      .about_description. 
        This website was my 2014 summer project before <a class='maroon' href='http://tamu.edu'>college</a>. I began work on 
        it after discovering Computer Science for the first time two years before in my high school Computer Science class. <hr>
        
      .about_subtitle The Where
      .about_description This website is hosted on my free Amazon EC2 Micro instance. <hr>
      
      .about_subtitle The Why
      .about_description.
        I have always wanted my own website. It wasnt until the summer of 2013 that I actually had the skills to build one myself.  
        My first attempt was <a href='http://github.com/notyalc/Clogg'>Clog</a>.  It was my spin on a traditional blog. Unforunately,
        I never got around to finding a place to host it.  After discovering Amazon's EC2 deal, I decided to write a new and much simpler website 
        from scratch and host it there.<hr>
      
      .about_subtitle The How
      .about_description.
        This website was written using <a href='http://nodejs.org'>node.js</a>, <a href='http://expressjs.org'>express.js</a>, 
        <a href='http://gruntjs.com/'>grunt</a>, <a href='http://jade-lang.com/'>jade</a>, various npm packages, and of course, javascript. 
