extends layout

block content
  .about_wrapper
    span.title 
      a(href='/') This Website
    .about_text
      .about_subtitle The Who
      .about_description <a href='/clayton'>Me</a>, of course. <hr>
      
      .about_subtitle The What
      .about_description.
         This, put simply, is my personal website. I created it to host a blog for myself, showcase some of my projects, and serve as a hub for "Clayton Petty" related activity. <hr> 
      
      .about_subtitle The When
      .about_description. 
        This website was my 2014 summer project before <a class='maroon' href='http://tamu.edu'>college</a>. I began work on it after discovering Computer Science for the first time two years before in <a href='http://lasacs.com'>Mr. Stephen's Computer Science</a> class. <hr>
        
      .about_subtitle The Where
      .about_description In my home. <hr>
      
      .about_subtitle The Why
      .about_description.
        I have always wanted my own website. It wasnt until the summer of 2013 that I actually had the skills to build one myself.  My first attempt was <a href='http://github.com/notyalc/Clogg'>Clog</a>.  It was my spin on the traditional blog (hence "Clog").  I hosted Clog from a server at home for about two months, but ultimately I took it down for server maintenence issues. This website, however, is aimed to be a more useful and more general attempt at a website that will last me for years to come (assuming I find a service to host it at a reasonable price). <hr>
      
      .about_subtitle The How
      .about_description.
        The backend is written in javascript, using <a href='http://nodejs.org'>node.js</a> and <a href='http://expressjs.org'>express.js</a>. I used <a href='http://jade-lang.com'>Jade</a>, written by this guy, as my html templating engine. I wanted a clean, simple look, so as you will notice (hopefully), nothing appears overly complicated. I am often baffled at how beautiful websites can look these days, but am stunned at how ridiculously complicated they are to use. Especially websites that override the scrolling function and force you to awkwardly move from one section of the webpage to the next. Those really bug me. <a>Blue</a> is one of my favorite colors, so as you can see, it can be found in abundance throughout the website. <hr>
        
      .about_subtitle The Improvement
      .about_description.
        I appreciate any input into the website! Comments and suggestions are welcome. You can contact me at _____@gmail.com.
  include close