extends layout

block content
  .clayton_container
    //-span.title Me, Myself, and I
    .clayton_wrapper
      .clayton_intro_container
        .divider Me, Myself, and I
        .clayton_intro <span id='first'>My name is <a>Clayton Petty</a>.</span> <br>I am a freshman at Texas A&M pursuing a BS in Computer Science. <br>Below is a little more about what I do.
      .picture
        img(src='/images/clayton01.jpg')#clayton_pic
      .clayton_topic_container#Music
        .clayton_topic_title Music
        .clayton_topic_body I've been involved with music in some way, shape, or form since I was in Kindergarden.  After 6 years of piano lessons, I began to pick up the drums. In high school I joined my school's drumline as a snare player.  My junior year, I competed in a national snare solo competition, PASIC, where I composed and performed my own solo. While participating in the drumline, I began to pickup guitar in my spare time.  However, I am still, by no means, an expert today. Music has always been a part of my life, and I have no doubt that it will stay that way in the future. 
      .clayton_topic_container#Programming
        .clayton_topic_title Programming
        .clayton_topic_body After taking the AP Computer Science class my junior year of high schoo, I feel in love with Computer Science. From that point on, I have spent countless hours of my time working on silly to serious side projects, learning new programming languages, and understanding more complicated data structures and algorithms. Today, I spend most of my time working on various personal web development projects.
      .clayton_topic_container#Sports
        .clayton_topic_title Sports
        .clayton_topic_body I love playing sports, not matter when or where. I recently broke my wrist playing basketball, and the only thing I can think about is getting back on the court. I love football, soccer, volleyball, and pretty much anything that doesnt involve running around a track.
      .clayton_topic_container#Camping
        .clayton_topic_title Camping
        .clayton_topic_body As of August, 22, 2013, I am an Eagle Scout. Throughout my entire life I have been a avid camper and boy scout.  I love being outdoors and hanging with some of my best friends.  From shotgun to mountain biking campouts, I have pretty much done it all.  



