extends layout

block content
  .clayton_container
    .clayton_wrapper
      .clayton_intro_container
        .divider Me, Myself, and I
        .clayton_intro <span id='first'>My name is <a>Clayton Petty</a>.</span> <br>I am a sophomore at Texas A&M pursuing a BS in Computer Science. <br>Below is a little more about what I do. <br> You can find my resume <a href="/resume">here</a>.
      .picture
        img(src='/imgs/Clayton_Petty.jpeg')#clayton_pic
      .clayton_topic_container#Music
        .clayton_topic_title Music
        .clayton_topic_body.
          I've been involved with music in some way, shape, or form since I was in Kindergarten. 
          After 6 years of piano lessons, I began to pick up the drums. In high school I joined the drumline as a snare player.  
          While participating in the drumline, I began to learn guitar in my spare time. Music has always been a part of my life, 
          and I have no doubt that it will stay that way in the future. 
      .clayton_topic_container#Programming
        .clayton_topic_title Programming
        .clayton_topic_body.
          After taking an AP Computer Science course my junior year of high school, I fell in love with Computer Science. 
          I have spent countless hours of my time working on side projects, learning new programming 
          languages, and in particular, web development. At Texas A&M, I am majoring in computer science and I absolutely love it. 
      .clayton_topic_container#Sports
        .clayton_topic_title Sports
        .clayton_topic_body.
          I love playing sports, not matter when or where. I recently broke my wrist playing basketball, and the 
          only thing I can think about is getting back on the court. I love football, soccer, volleyball, and pretty much anything that 
          doesnt involve running around a track.
      .clayton_topic_container#Camping
        .clayton_topic_title Camping
        .clayton_topic_body.
          On August 22, 2013, I became an Eagle Scout. Throughout my entire life I have been an avid camper 
          and boy scout.  I enjoy getting to spend time outdoors with my best friends.  From 10 day canoe trips in Canada to 12 day hikes through New Mexico, I 
          have pretty much done it all.  
