extends layout

block content
  .write_container
    form(action='/create_post', method='post', enctype='multipart/form-data')
      input#create_input(type='text', name='title', placeholder='Title')
      input#create_input(type='text', name='description', placeholder='Description')
      span#left.label Body:
      input#right(type='file', name='body')
      input#create_input(type='password', name='password', placeholder='Password')
      input(type='submit')