extends layout

block content
  .front_container
    include bar
    .short_bio
      span.blurb#large_blurb
        a Welcome.
      span.blurb My name is <a class='inverse'>Clayton Petty</a>. Texas A&M class of 2018.
      span.blurb I am an avid programmer, musician, sports enthusiast, and Eagle Scout. Feel free to <a href="mailto:git.cdpetty@gmail.com">contact</a> me.
    
