html
  head
    title Website
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/posts.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    link(rel='stylesheet', href='/stylesheets/generics.css')
    link(rel='stylesheet', href='/stylesheets/projects.css')
    link(rel='stylesheet', href='/stylesheets/clayton.css')
    link(rel='stylesheet', href='/stylesheets/front.css')
    link(rel='stylesheet', href='/stylesheets/post.css')
    link(rel='stylesheet', href='/stylesheets/create_post.css')
  body
    .nav_bar
      a(href='/posts')
        .nav_element.nav_left
          span.nav_text Posts
      a(href='/about')
        .nav_element.nav_left
          span.nav_text About
      a(href='/projects')
        .nav_element.nav_left
          span.nav_text Projects
      a(href='/clayton')
        .nav_element.nav_left
          span.nav_text Clayton
      a(href='/')
        .nav_element.nav_right.logo
            span.logo_text C


    block content
    include close