html
  head
    title Cdpetty
    include meta
    link(rel='stylesheet', href='/css/style.min.css')
  body
    .nav_bar
      a(href='/posts')
        .nav_element.nav_left
          span.nav_text Posts
      a(href='/about')
        .nav_element.nav_left
          span.nav_text About
      a(href='/projects')
        .nav_element.nav_left
          span.nav_text Projects
      a(href='/clayton')
        .nav_element.nav_left
          span.nav_text Clayton
      a(href='/')
        .nav_element.nav_right.logo
            span.logo_text C
    block content
    include close
