extends layout

block content
    .posts_wrapper
        each val in posts
            .post
                span.post_name
                    if val.link
                        a(href=val.link)=val.title
                        span.post_subtitle=val.description
                    else   
                        a(href='/post/' + val.title)=val.title
                        span.post_subtitle=val.description
                
    //- each val, index in posts 
    //-   .post
    //-     span.post_name
    //-       a(href='/post/' + index)=val.title
    //-       span.post_subtitle=val.description
    //- .post
    //-   span.post_name
    //-     a(href='/post') Clayton's First Post
    //-     span.post_subtitle The post of a lifetime
    //- .post
    //-   span.post_name 
    //-     a(href='/post') Python Globals
    //-     span.post_subtitle How do they work?
    //- .post
    //-   span.post_name
    //-     a(href='/post') Why I like Cars
    //-     span.post_subtitle They are great
    //- .post
    //-   span.post_name 
    //-     a(href='/post')  Another Awesome Post
    //-     span.post_subtitle Absolutely yes.
    //- .post
    //-   span.post_name
    //-     a(href='/post') My First Post
    //-     span.post_subtitle The post of a lifetime
    //- .post
    //-   span.post_name 
    //-     a(href='/post') Python Globals
    //-     span.post_subtitle How do they work?
    //- .post
    //-   span.post_name
    //-     a(href='/post') Why I like Cars
    //-     span.post_subtitle They are great
    //- .post
    //-   span.post_name 
    //-     a(href='/post')  Another Awesome Post
    //-     span.post_subtitle Absolutely yes.
    //- .post
    //-   span.post_name
    //-     a(href='/post') My First Post
    //-     span.post_subtitle The post of a lifetime
    //- .post
    //-   span.post_name 
    //-     a(href='/post') Python Globals
    //-     span.post_subtitle How do they work?
    //- .post
    //-   span.post_name
    //-     a(href='/post') Why I like Cars
    //-     span.post_subtitle They are great
    //- .post
    //-   span.post_name 
    //-     a(href='/post')  Another Awesome Post
    //-     span.post_subtitle Absolutely yes.
    //- .post
    //-   span.post_name
    //-     a(href='/post') My First Post
    //-     span.post_subtitle The post of a lifetime
    //- .post
    //-   span.post_name 
    //-     a(href='/post') Python Globals
    //-     span.post_subtitle How do they work?
    //- .post
    //-   span.post_name
    //-     a(href='/post') Why I like Cars
    //-     span.post_subtitle They are great
    //- .post
    //-   span.post_name 
    //-     a(href='/post')  Another Awesome Post
    //-     span.post_subtitle Absolutely yes.
