extends layout

block content
  .post_container
    .post_text
      a
        .post_title #{title}
      .post_description #{description}
      .post_time #{displayTime}
      .post_body !{body}
    
