extends layout

block content
  .posts_wrapper
    .post
      span.post_name
        a(href='/special_post') My First Post
        span.post_subtitle The post of a lifetime
    .post
      span.post_name 
        a(href='/special_post') Python Globals
        span.post_subtitle How do they work?
    .post
      span.post_name
        a(href='/special_post') Why I like Cars
        span.post_subtitle They are great
    .post
      span.post_name 
        a(href='/special_post')  Another Awesome Post
        span.post_subtitle Absolutely yes.
    .post
      span.post_name
        a(href='/special_post') My First Post
        span.post_subtitle The post of a lifetime
    .post
      span.post_name 
        a(href='/special_post') Python Globals
        span.post_subtitle How do they work?
    .post
      span.post_name
        a(href='/special_post') Why I like Cars
        span.post_subtitle They are great
    .post
      span.post_name 
        a(href='/special_post')  Another Awesome Post
        span.post_subtitle Absolutely yes.