extends layout

block content
  //- .disclaimer
    //- span.disclaimer_text.     
  .projects_wrapper
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/website')  Website
        span.project_subtitle This Website
    .project
      span.project_name
        a(href='http://github.com/cdpetty/Clogg') Clogg
        span.project_subtitle First attempt blog
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/Panning') Panning
        span.project_subtitle Basic port scanner
    .project
      span.project_name
        a(href='http://github.com/cdpetty/One') One
        span.project_subtitle Mediafire terminal client
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/PySolver') PySolver
        span.project_subtitle RPN in Python
    .project
      span.project_name
        a(href='http://github.com/cdpetty/TTE') TTE
        span.project_subtitle Track html elements
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/Chatter')  Chatter
        span.project_subtitle Group chat client
