extends layout

block content
  //- .disclaimer
    span.disclaimer_text.     
      <center><a class='disclaimer_tag'>&lt;Disclaimer&gt;</a></center> I have this problem.  Its a small problem with a big impact. I just can't seem to finish projects. I've started dozens of projects in the past, and no matter how far I get, I seem to loose interest somewhere towards the end. As a result, some (most) of my projects are lacking a real shine. I apologize in advance. <center><a class='disclaimer_tag'>&lt;/Disclaimer&gt;</a></center>
  .projects_wrapper
    .project
      span.project_name
        a(href='http://github.com/cdpetty/Clogg') Clogg
        span.project_subtitle The project of a lifetime
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/Panning') Python Port Scanner
        span.project_subtitle How do they work?
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/APGrader')  APGrader
        span.project_subtitle Absolutely yes.
    .project
      span.project_name
        a(href='http://github.com/cdpetty/One') One
        span.project_subtitle The project of a lifetime
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/PySolver') PySolver
        span.project_subtitle How do they work?
    .project
      span.project_name
        a(href='http://github.com/cdpetty/TTE') TTE
        span.project_subtitle They are great
    .project
      span.project_name 
        a(href='http://github.com/cdpetty/Chatter')  Chatter
        span.project_subtitle Absolutely yes.
