.clayton_container{
  margin: 70px auto 30px auto;
  min-width: 523px;
  max-width: 710px;
}
.clayton_intro{
  
}
.clayton_intro_container{
  
}
.clayton_topic_title{
  font-size:24px;
}
.clayton_topic_body{

}
#clayton_pic{
  width:247px;
}
.picture{
  float:right;
}

#music{
  clear:both
}

#Programming{
}

#Sports{

}

#Camping{

}

.clayton_topic_container{

}
