.cdp{
  margin:70px auto;
}
.front_container{
  width:100%;
  text-align:-webkit-center;
  margin:158px auto 10px auto;
} 

.short_bio{
  width: 550px;
  margin-bottom: 50px;
  margin-top: 27px;
}

.blurb{
  display:block;
  font-size:23px;
  margin-bottom:20px;
}

#large_blurb{
  font-size:40px;
}