.post_container{
  width:100%;
  margin-top:70px;
}

.post_text{
  margin: 0px auto;
  max-width: 652px;
  min-width: 500px;
}
.post_title{
  font-size:50px;
  margin-bottom: -10px;
}
.post_description{
  font-size:23px;
}
.post_body{

}

.post_time{
    color: gray;
}
