body {
  /*background-color: #333;*/
  background-color:#fdfdfd;
  /*font-family: "ars-maquette-web",Gotham,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family:vollkorn;
}

.logo{
  width:40px;
  background-color:rgb(0, 0, 170);
  color:#999;
}
.logo_text{
  font-size:30px;
  font-weight:bold;
  padding:12px;
}

.nav_bar{
  min-width: 459px;
  border-bottom: 6px solid black;
  background-color:rgba(49, 48, 48, 0.95);
  height:43px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}
.nav_text{
  font-size: 30px;
  color: #999;
}

.nav_element{
  font-family:"ars-maquette-web",Gotham,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display:inline;
  padding: 3px 7px;
  cursor:pointer;
}
.nav_element:hover{
  background-color:rgb(0, 0, 170);
}

.nav_left{
  float:left; 
  border-right: 2px solid black;
}

.nav_right{
  float:right;
  border-left: 2px solid black;
}


